---
import Button from "@components/button.astro";
import PageHeading from "@components/page-heading.astro";
import Project from "@components/project.astro";
import Layout from "@layouts/main.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("post");
---

<Layout title="Mis Proyectos">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Mis Proyectos"
      description="Estos son algunos de los proyectos actuales en los que he estado trabajando. Realmente disfruto creando nuevos proyectos y surgiendo nuevas ideas."
    />

    <div
      class="z-50 grid items-stretch w-full grid-cols-1 my-8 gap-7 sm:gap-5 sm:grid-cols-2"
    >
      {
        projects.map(({data, id}) => {
          const {name, description, image, tags} = data
          
          return (
            <Project
              name={name}
              description={description}
              image={image}
              url={`/project/${id}`}
            />
          )
        })
      }
    </div>

    <div class="flex items-center justify-center w-full py-5">
      <Button text="Ver más proyectos en GitHub" link="https://github.com/joalmr" />
    </div>
  </section>
</Layout>
